---
---

@import "variables";

@import "container";
@import "heading";
@import "highlight";
@import "image";
@import "navbar";
@import "post";
@import "subscription";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $font-color;
}

a {
  color: $accent-color;
  font-weight: 400;
  text-decoration: none;
  transition: $default-transition;

  &:hover {
    color: darken($accent-color, 5%);
  }
}

a[rel="footnote"] {
  counter-increment: footnotes;

  &::after {
    content: counter(footnotes);
    font-size: .8rem;
    vertical-align: super;
    margin: .1rem;
  }
}

a[rel="footnote-return"]::after {
  content: "↵";
}

article {
  counter-reset: footnotes;
  margin-top: 4rem;

  a {
    color: $font-color;
    text-decoration: underline;

    &:hover {
      color: $accent-color;
    }
  }
}

b, strong {
  font-weight: 400;
}

blockquote {
  background: darken($background-color, 5%);
  font-size: 1.2em;
  margin-top: 2em;
  padding: 1rem;

  &::before {
    color: lighten($accent-color, 35%);
    content: '"';
    font-family: cursive;
    font-size: 6em;
    margin-left: -0.7em;
    margin-top: -.6em;
    opacity: .8;
    position: absolute;
  }
}

code {
  font-family: "Fira Mono", "Monaco", "Consolas", "Lucida Console", monospace;
  font-size: .8rem;
  letter-spacing: -0.3px;
  padding: 0 3px;
  white-space: normal;
}

hr {
  border: none;
  border-top: 1px solid $light-grey;
  display: block;
  height: 1px;
  margin: 4rem 0;
}

li {
  margin-top: 1.5rem;
}

p {
  font-size: 1.1rem;
  line-height: 2rem;
}

pre {
  background: $lightest-grey;
  line-height: 1.35;
  margin: 2.052rem 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;

  code {
    border-radius: 2px;
    display: block;
    outline: none;
    overflow-x: auto;
    padding: 1rem;
    white-space: inherit;
  }
}

:not(pre) > code {
  margin-right: 0.05em;
  margin-left: 0.05em;
  padding: 5px;
  background: $lightest-grey;
  white-space: nowrap;
  font-size: .9rem;
}

:target {
  outline: none;
}
