$light-grey: #f0f0f2;
$grey: darken($light-grey, 10%);
$white: #fff;

$default-transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);

$accent-color: red;
$font-color: #29292c;
$background-color: #FFF;
