<html>
  <head>
    <title>{{ page.title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  </head>

  <body>
    <nav class="navbar">
      <a href="{{ site.baseurl }}/" class="navbar__logo">🎒</a>

      <div>
        <a href="{{ site.baseurl }}/" class="navbar__link">All Posts</a>
        <a href="{{ site.baseurl }}/about/" class="navbar__link">About</a>
      </div>
    </nav>

    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
